#map {
    width: 100%;
    height: 640px;
    // border-radius: 10px;
  }
  
  #legend {
    width: 100%;
    height: 640px;
  }
  
  #chart {
    width: 100%;
    height: 200px;
  }
  
  #credit {
    width: 100%;
    height: 200px;
  }
  