<div class="mb-6">
  <div class="card border-secondary mb-3">
    <div class="card-body">
      <h4> ภาพจากดาวเทียม Himawari</h4>
      ข้อมูล Himawari Real-Time Image เวลา: <span style="font-size: 20px; font-weight: 600">{{satTime}}
        น.</span>
    </div>
  </div>

  <div class="card border-primary mb-3">
    <div id="map">
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="tile">
        ที่มา: ข้อมูลดาวเทียม <a href="https://www.data.jma.go.jp/mscweb/data/himawari/index.html/">Himawari
          Real-Time Image</a>, <a href="https://www.data.jma.go.jp/mscweb/en/index.html">Meteorological Satellite
          Center of JMA (Japan Meteorological Agency)</a>
      </div>
    </div>
  </div>
</div>