<div class="mb-6">
  <div class="card border-secondary mb-3">
    <!-- <div class="card-header">Header</div> -->
    <div class="card-body">
      <h4 class="card-title">ข้อมูลไฟป่าและหมอกควัน</h4>
      ข้อมูล hotspot เป็นข้อมูลแบบ near real-time โดยอัพเดทข้อมูลทุก 3 ชั่วโมง ซึ่งถูกบันทึกด้วยระบบ MODIS ของดาวเทียม
      Aqua (A) และ Terra (T) มีความละเอียดเชิงพื้นที่ 1 km และระบบ VIIRS ของดาวเทียม Suomi NPP (N)
      มีความละเอียดเชิงพื้นที่ 375 m
      เวลาที่โคจรผ่านภาคเหนือประเทศไทย Aqua 13.42 น. Terra 10.36 น. Suomi NPP 14.2 น.

    </div>
  </div>

  <div class="card border-primary mb-3">
    <div id="map">
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="tile">
        แหล่งข้อมูล:
        ข้อมูล hotspot: <a href="https://firms.modaps.eosdis.nasa.gov">The Fire Information for Resource Management
          System (FIRMS)</a>
        ข้อมูลคุณภาพอากาศ: <a href="http://air4thai.pcd.go.th/webV2/">รายงานสถานการณ์และคุณภาพอากาศประเทศไทย
          กรมควบคุมมลพิษ</a>
      </div>
    </div>
  </div>
</div>