<div class="mb-6">
  <div class="container">

    <div class="jumbotron">
      <h3>ระบบเฝ้าระวังและเตือนภัยธรรมชาติ จังหวัดอุตรดิตถ์</h3>
      <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to
        featured content or information.</p>
      <hr class="my-4">
      <p>สนับสนุนงานวิจัย สำนักงานกองทุนสนับสนุนการวิจัย</p>

    </div>

    <div class="card border-primary mb-3">
      <div id="map">
      </div>
    </div>
    <div class="card border-secondary mb-3">
      <div class="card-header">Header</div>
      <div class="card-body">
        <h4 class="card-title">Secondary card title</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
      </div>
    </div>

  </div>
</div>
