<div class="mb-6">
  <div class="container">

    <div class="jumbotron">
      <h3>ระบบเฝ้าระวังและเตือนภัยธรรมชาติ จังหวัดอุตรดิตถ์</h3>
      <p class="card-text">
        วิจัยนี้จึงมีจุดมุ่งหมายเพื่อพัฒนาระบบสารสนเทศของจังหวัดสำหรับการพยากรณ์และแจ้งเตือนภัยโดยครอบคลุมภัยที่เคยเกิดขึ้นและสร้างความเสียหายจากดินโคลนถล่ม
        น้ำป่าไหลหลาก ภัยแล้ง และไฟป่า เพื่อให้เป็นเครื่องมือสำคัญที่ช่วยเพิ่มความไว (Sensibility)
        ต่อการติดตามสถานกาณ์เกิดภัยเพื่อให้หน่วยงานที่เกี่ยวข้องสามารถรับมือกับสถานการณ์ได้ทัน
        ลดความสูญเสียที่จะเกิดขึ้น และเป็นข้อมูลสำคัญที่ช่วยขับเคลื่อนงานด้านอื่นๆ ของจังหวัด</p>
      <hr class="my-4">
      <p>สนับสนุนโดย มหาวิทยาลัยราชภัฏอุตรดิตถ์ และสำนักงานกองทุนสนับสนุนการวิจัย</p>
      <img src="assets/images/trfuru.png">

    </div>

    <div class="card border-primary mb-3">
      <div id="map">
      </div>
    </div>
  </div>
</div>
